<a href="https://colab.research.google.com/github/anjanasuresh14/INTRODUCTION-TO-PYTHON/blob/main/Python6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
a=input('Enter Name')
b=int(input('Enter Phone Number'))
print('NAME:',a)
print('PHONE NO.:',b)

Enter NameAnjana
Enter Phone Number1234567890
NAME: Anjana
PHONE NO.: 1234567890

In [17]:
x=int(input('Enter Marks of English'))
y=int(input('Enter Marks of Hindi'))
z=int(input('Enter Marks of Maths'))
t=x+y+z
a=(x+y+z)/3
print('TOTAL MARKS:',t)
print('AVERAGE:',a)

Enter Marks of English20
Enter Marks of Hindi30
Enter Marks of Maths40
TOTAL MARKS: 90
AVERAGE: 30.0

In [20]:
x1=int(input('Enter first Number'))
y1=int(input('Enter secomd Number'))
if x1>y1:
  print('Highest Number:',x1)
else:
  print('Highest Number:',y1)

Enter first Number40
Enter secomd Number20
Highest Number: 40

In [34]:
n1=int(input('Enter first Number'))
n2=int(input('Enter second Number'))
n3=int(input('Enter third Number'))
if n1>n2 and n1>n3:
  print('Highest Number:',n1)
elif n2>n3 and n2>n1:
  print('Highest Number:',n2)
elif n3>n1 and n3>n2:
  print('Highest Number:',n3)

Enter first Number50
Enter second Number10
Enter third Number70
Highest Number: 70

In [35]:
n1=int(input('Enter a Number'))
if n1%2==0:
  print(n1,'is EVEN')
else:
  print(n1,'is ODD')

Enter a Number444
444 is EVEN

In [38]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [48]:
for i in range(1,11):
  print(i,'*5','=',i*5)

1 *5 = 5
2 *5 = 10
3 *5 = 15
4 *5 = 20
5 *5 = 25
6 *5 = 30
7 *5 = 35
8 *5 = 40
9 *5 = 45
10 *5 = 50