<a href="https://colab.research.google.com/github/anjanasuresh14/INTRODUCTION-TO-PYTHON/blob/main/Python6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
source=input('Enter Travel Source')
dest=input('Enter Travel Destination')
no=int(input('Enter the Number of Passengers'))
print('Travel Source:',source)
print('Travel Destination:',dest)
print('Number of Passengers:',no)

Enter Travel SourceBus
Enter Travel DestinationDelhi
Enter the Number of Passengers10
Travel Source: Bus
Travel Destination: Delhi
Number of Passengers: 10

In [4]:
fare=int(input('Enter the Total Ticket Fare'))
no=int(input('Enter the Number of Passengers'))
x=fare/no
print('Ticket Fare per Person:',x)

Enter the Total Ticket Fare1000
Enter the Number of Passengers10
Ticket Fare per Person: 100.0

In [5]:
name=input("Enter the Passenger's Name")
fare=int(input('Enter the Total Ticket Fare'))
print(name, fare)

Enter the Passenger's NameAnjana
Enter the Total Ticket Fare10000
Anjana 10000

In [8]:
fare=int(input('Enter the Total Ticket Fare'))
if fare>10000:
  print('Eligible for Discount')

Enter the Total Ticket Fare20000
Eligible for Discount

In [11]:
fare=int(input('Enter the Total Ticket Fare'))
if fare>15000:
  print('Eligible for 20% Discount')
else:
  print('Eligible for 10% Discount')

Enter the Total Ticket Fare200000
Eligible for 20% Discount

In [49]:
fare=int(input('Enter the Total Ticket Fare'))
if fare>15000:
  print('Eligible for 20% Discount')
  x=fare*20/100
  print('Discount:',x)
elif fare>10000:
  print('Eligible for 10% Discount')
  y=fare*10/100
  print('Discount:',y)
else:
  print('Eligible for 5% Discount')
  z=fare*5/100
  print('Discount:',z)

Enter the Total Ticket Fare20000
Eligible for 20% Discount
Discount: 4000.0

In [19]:
n=int(input('Enter a Number'))
if n>0:
  print('Positive')
elif n<0:
  print('Negative')
else:
  print('Zero')

Enter a Number0
Zero

In [44]:
age=float(input('Enter Age '))
if age>=18:
  print('Adult')
elif age>=13 and age<18:
  print('Teenager')
elif age>=6 and age<=12:
  print('Kid')
elif age>2 and age<=5:
  print('Toddler')
elif age<=2:
  print('Infant')

Enter Age 18
Adult

In [47]:
initial=input("Enter the Initials of the Passenger's Name ")
if initial in('a','e','i','o','u','A','E','I','O','U'):
  print('VOWEL')
else:
  print('NOT A VOWEL')

Enter the Initials of the Passenger's Name a
VOWEL

In [51]:
name=input("Enter the Passenger's Name ")
for i in name:
  print(i)

Enter the Passenger's Name ANJANA
A
N
J
A
N
A

In [53]:
for i in range(45,89,2):
  print(i)

45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87

In [90]:
a=0
for i in range(1,11):
  a=a+i
  print(i,a)

1 1
2 3
3 6
4 10
5 15
6 21
7 28
8 36
9 45
10 55

In [135]:
for i in range(5):
  for j in range(i):
    print(i,end=" ")
  print(' ')

1
2 2
3 3 3
4 4 4 4