<a href="https://colab.research.google.com/github/anjanasuresh14/INTRODUCTION-TO-PYTHON/blob/main/Python9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
n=int(input('Enter a number '))
for i in range(1,11):
  print(i,'x',n,'=',i*n)

Enter a number 3
1 x 3 = 3
2 x 3 = 6
3 x 3 = 9
4 x 3 = 12
5 x 3 = 15
6 x 3 = 18
7 x 3 = 21
8 x 3 = 24
9 x 3 = 27
10 x 3 = 30

In [25]:
n=int(input('Enter a number '))
a=1
while a<=10:
  print(a,'x',n,'=',a*n)
  a=a+1

Enter a number 2
1 x 2 = 2
2 x 2 = 4
3 x 2 = 6
4 x 2 = 8
5 x 2 = 10
6 x 2 = 12
7 x 2 = 14
8 x 2 = 16
9 x 2 = 18
10 x 2 = 20

In [28]:
n=int(input('Enter a number '))
a=1
while a<=n:
  print(a)
  a=a+1

Enter a number 10
1
2
3
4
5
6
7
8
9
10

In [36]:
n=input('Enter a number ')
a=0
for i in n:
  a=a+1
print(a)

Enter a number 345
3

In [52]:
x=input('Enter a string ')
a=""
for i in x:
  a=i+a
print(a)
ifx==a:
  print('TRUE')
else:
  print('FALSE ')

Enter a string malayalam
malayalam
TRUE

In [57]:
n=input('Enter username ')
a=input('Enter a letter to search ')
b=input('Enter the letter to replace ')
if a in n:
  print(n.replace(a,b))

Enter username angana
Enter a letter to search g
Enter the letter to replace j
anjana

In [76]:
a=input('Enter Country name ')
b=input('Enter Country name ')
c=input('Enter Country name ')
d=input('Enter Country name ')
e=input('Enter Country name ')
L=[a,b,c,d,e]
print(sorted(L))
f=input('Enter another country name ')
L.append(f)
print(L)

Enter Country name INDIA
Enter Country name CHINA
Enter Country name PAKISTAN
Enter Country name FRANCE
Enter Country name GERMANY
['CHINA', 'FRANCE', 'GERMANY', 'INDIA', 'PAKISTAN']
Enter another country name ENGLAND
['INDIA', 'CHINA', 'PAKISTAN', 'FRANCE', 'GERMANY', 'ENGLAND']