<a href="https://colab.research.google.com/github/anjanasuresh14/INTRODUCTION-TO-PYTHON/blob/main/Python2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
mark=int(input('Enter Marks'))
if mark>50:
  print('YOU ARE PASSED')
else:
  print('YOU ARE FAILED')

Enter Marks70
YOU ARE PASSED

In [6]:
mark=int(input('Enter Marks'))
if mark>50:
  print('YOU ARE PASSED')
elif mark==50:
  print('JUST PASS')
else:
  print('YOU ARE FAILED')

Enter Marks50
JUST PASS

In [12]:
s=int(input('Enter Salary:'))
if s>=250000:
  print('YOU ARE TAXABLE')
elif s<250000:
  print('YOU ARE NOT TAXABLE')

Enter Salary:250000
YOU ARE TAXABLE

In [18]:
s=int(input('Enter Salary:'))
if s>=250000:
  print('YOU ARE TAXABLE')
  m=s-250000
  t=s*0.10
  print('TAX:',t)
  print('TAX OF EXTRA AMOUNT:',m*0.10)
elif s<250000:
  print('YOU ARE NOT TAXABLE')

Enter Salary:300000
YOU ARE TAXABLE
TAX: 30000.0
TAX OF EXTRA AMOUNT: 5000.0

In [38]:
s=int(input('Enter Salary:'))
if s>=250000 and s<500000:
  print('YOU ARE TAXABLE')
  x=s-250000
  t=x*0.10
  print('TAX:',t)
elif s>=500000:
  print('YOU ARE TAXABLE')
  x=(s-250000)*0.10
  y=(s-500000)*0.20+x
  print('TAX:',y)
elif s<250000:
  print('YOU ARE NOT TAXABLE')

Enter Salary:800000
YOU ARE TAXABLE
TAX: 115000.0