<a href="https://colab.research.google.com/github/anjanasuresh14/INTRODUCTION-TO-PYTHON/blob/main/Python5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def anjana():
  print('hello world')

In [2]:
anjana()

hello world

In [5]:
def anjana(x,y):
  z=x+y
  print("Result = ",z)

In [6]:
anjana(5,6)

Result =  11

In [7]:
def anjana(x,y):
  z=x*y
  print("Result = ",z)

In [8]:
anjana(5,6)

Result =  30

In [9]:
def anjana(x,y):
  z=x-y
  print("Result = ",z)

In [10]:
anjana(6,5)

Result =  1

In [11]:
def anjana(x,y):
  z=x/y
  print("Result = ",z)

In [12]:
anjana(10,5)

Result =  2.0

In [13]:
def anjana(x,y):
  z=x+y
  return z

In [14]:
anjana(5,6)

11

In [23]:
x=int(input('Enter Salary'))
#anjana(x)
if x>250000:
  print('Taxable')
else:
  print('Not Taxable')

Enter Salary400000
Taxable

In [24]:
def anjana(x):
  if x<250000:
    print('No Tax')
  if x>250000:
    print('Tax')

In [25]:
x=int(input('Enter Salary'))
anjana(x)

Enter Salary500000
Tax

In [44]:
def anjana(x):
  y=0
  for i in range(x):
    y=y+i
  print(y)

In [46]:
anjana(101)

5050

In [49]:
def add(x,y):
  print(x+y)
def sub(x,y):
  print(x-y)

In [51]:
x=int(input('Enter a number'))
y=int(input('Enter a number'))
add(x,y)

Enter a number10
Enter a number20
30

In [52]:
sub(x,y)

-10